header {
background-color:deeppink;
color: white;
padding: 20px;
text-align: center;
margin: 0 1.5cm
}
section {
background-color:deeppink;
margin: 0 1.5cm;
 font-size: 16px;
 color: coral;
}
footer {
    background-color:deeppink
    color:black
    padding: 10px;
    text-align: center;
    margin: 0 1.5cm;
    font-size: 14px;
}
